<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amosh.todotobe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true">

        <activity android:name=".SignInActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up"
            android:theme="@style/AppTheme"
            android:parentActivityName=".SignInActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignInActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Fragments.splash_screen_activity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".SignInActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignInActivity" />
        </activity>

        <activity
            android:name=".MainScreenActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".SignInActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignInActivity" />
        </activity>

        <activity
            android:name=".Fragments.MonthPreviewActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".SignInActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>

        <activity
            android:name=".MyGroupsActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".SignInActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>

        <activity
            android:name=".Categories.ShopActivity"
            android:parentActivityName=".MyGroupsActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>

        <activity
            android:name=".Categories.WorkActivity"
            android:parentActivityName=".MyGroupsActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>

        <activity
            android:name=".Categories.HealthActivity"
            android:parentActivityName=".MyGroupsActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>

        <activity
            android:name=".Categories.AutoActivity"
            android:parentActivityName=".MyGroupsActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>

        <activity
            android:name=".Categories.BillsActivity"
            android:parentActivityName=".MyGroupsActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>

        <activity
            android:name=".Categories.TravelActivity"
            android:parentActivityName=".MyGroupsActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>

        <activity
            android:name=".SummaryChartActivity"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>

        <activity
            android:name=".OverviewActivity"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>

        <activity
            android:name=".AddRemainderActivity"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>

        <activity
            android:name=".TimelineActivity"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />

        </activity>

        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>

        <activity
            android:name=".ListsActivity"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>

    </application>

</manifest>